body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: black;
}
.container-fluid{
    height: 80px;
    width: 100%;
    background-color: orangered;
}
.btn a{
    text-decoration: none;
    color: black;
    font-size: 15px;
}
.container-fluid img{
    height: 150px;
    width: 100px;
    animation: spin 2s infinite;
}
@keyframes spin{
    0%{transform: scale(0);}
    100%{transform: scale(1);}
}
.collapse a{
    color: black;
    font-size: 18px;
}
.carousel-inner{
    height: 500px;
    width: 100%;
}
.carousel-inner img{
    height: 450px;
}
.card{
    height: 600px;
    width: 1200px;
    margin-left: 100px;
}
.card p{
    font-size: 23px;
}
.card-title{
    font-size: 40px;
    background-color: orangered;
    animation: title 3s infinite;
}
@keyframes title{
0% { background-color: red; }
  50% { background-color: orange; }
  100% { background-color: orangered; }
}

.homeimg img{
    height: 520px;
    width: 550px;
}
.para{
    font-size: 30px;
    background-color: orangered;
    font-family: 'calibri';
    font-weight: 600;
}
.col img{
    height: 200px;
    width: 400px;
}
.foot{
    background-color: orangered;
}
.list-unstyled li a{
    text-decoration: none;
}
.ft{
    height: 80px;
    width: 80px;
}