body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: black;
}
.container-fluid{
    height: 80px;
    width: 100%;
    background-color: orangered;
}
.btn a{
    text-decoration: none;
    color: black;
    font-size: 15px;
}
.container-fluid img{
    height: 150px;
    width: 100px;
    animation: spin 2s infinite;
}
@keyframes spin{
    0%{transform: scale(0);}
    100%{transform: scale(1);}
}
.signin-card {
      max-width: 400px;
      background: white;
      box-shadow: 0 0 30px rgba(0,0,0,0.1);
      padding: 30px;
      top: 100px;
      left: 750px;
      position: relative;
}
.form-control:focus {
      box-shadow: none;
      border-color: orangered;
}
.btn1{
      background-color: orange;
      border:2px;
      height: 40px;
      border-radius: 50px;
      margin-top: 10px;
}
.btn1:hover {
      background-color: orangered;
}
.colo{
    animation: glow 2s infinite;

}
@keyframes glow {
  0% { box-shadow: 0 0 0px white; }
  100% { box-shadow: 0px 0px 10px 10px orangered; }
}


.signin-card2{
      max-width: 400px;
      height: 405px;
      padding: 30px;
      left: 350px;
      top: 180px;
      background-color: orangered;
}
.btn2{
      background-color: orangered;
      border: 1px solid black;
      height: 40px;
      width: 50%;
      border-radius: 50px;
}
.foot{
    background-color: orangered;
    height: 350px;
    position: relative;
    top: 180px;
}
.list-unstyled li a{
    text-decoration: none;
}
.ft{
    height: 80px;
    width: 80px;
}
